.grid-container{
    width: 60%;
    height: 250;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
}
.grid-item{
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    background-color: darkgrey;
    margin: 10px;
    text-align: center;
}